In [21]:
from urllib.request import urlopen
import pandas as pd
from nba_api.stats.endpoints import scoreboard

In [85]:
df = pd.DataFrame()
# 2022 regular season games
dates_22_23 = pd.date_range('2022-10-18','2023-04-09',freq='d')
# drop all-star game
dates_22_23 = dates_22_23.drop('2023-02-19')

for date in dates_22_23:
    game = scoreboard.Scoreboard(0,date)
    game.get_available_data()
    df = pd.concat([df,game.line_score.get_data_frame()], ignore_index=True)

df = df.drop(['PTS_OT5','PTS_OT6','PTS_OT7','PTS_OT8','PTS_OT9','PTS_OT10'], axis=1) # highest OT in 2000s is 4OT so drop the rest

In [87]:
print(df.columns)

Index(['GAME_DATE_EST', 'GAME_SEQUENCE', 'GAME_ID', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_CITY_NAME', 'TEAM_WINS_LOSSES', 'PTS_QTR1',
       'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2', 'PTS_OT3',
       'PTS_OT4', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV'],
      dtype='object')